body {
    display: flex;
}

aside {
    width: 30%;
}

.selected {
    border: 1px solid yellowgreen;
}

.delete-todo {
    height: fit-content;
    margin: 5px;
}

.hidden {
    display: none;
}

.missing {
    border-color: red;
}