$background: #064A5B;
$uibackground:#FFF7D0;
$selectors:#C19FF7;

body {
    display: flex;
}

aside {
    width: 30%;
}

.selected {
    border: 1px solid yellowgreen;
}

.delete-todo {
    height: fit-content;
    margin: 5px;
}

.hidden {
    display: none;
}

.missing {
    border-color: red;
}

.formClone {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $background;
    padding: 20px;
}

.btn-success {
    color: rgb(0, 0, 0);
    background-color: $uibackground !important;
}